extends layout

block content
  h1.title #{title}: #{bookinstance.name}
  hr
  p Do you really want to delete this book copy?

  form(method='POST' action='')
    div.form-group
      input#authorid.form-control(type='hidden',name='authorid',required='true',value=bookinstance._id)

      button.btn.btn-primary(type='submit') Delete